<%- include("super-common-header.ejs", {title: instrument.name }) %>
    <p></p>

    <a href="/instrument/<%= creatingNew.new ? '' : instrument._id %>" class="btn btn-danger">Cancel</a>


    <p></p>
    <h1>
        <%= instrument.name %>
    </h1>

    <form action="<%= instrument._id ? '/instrument/update/' + instrument._id : '/instrument/create' %>" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= instrument.name %>" required>
        </div>
        <div>
            <label for="history">History:</label>
            <textarea id="history" class="form-control" name="history"><%= instrument.history %></textarea>
        </div>
        <div>
            <label for="family">Family:</label><br>
            <% const families = ['Strings', 'Woodwinds', 'Brass', 'Percussion', 'Keyboards', 'Electronic']; %>
            <% families.forEach(function(family) { %>
                <input type="radio" id="<%= family.toLowerCase() %>" name="family" value="<%= family %>" <% if (instrument.family === family) { %> checked <% } %>>
                <label for="<%= family.toLowerCase() %>"><%= family %></label><br>
            <% }); %>
        </div>
        <div>
            <label for="imageUri">Image URL: </label>
            <input type="text" id="imageUri" class="form-control" name="imageUri" value="<%= instrument.imageUri %>">
        </div>
        <div>
            <label for="soundSampleUri">Sound Sample URL (Youtube embed link):</label>
            <input type="text" id="soundSampleUri" class="form-control" name="soundSampleUri"
                value="<%= instrument.soundSampleUri %>">
        </div>


        <div class="mb-3 ">
            <label for="genres">Genres:</label>
            <select class="form-select" id="genres" name="genres" multiple>
                <% for(let g of allGenres) { %>
                    <option value="<%= g._id %>" <%= g.instruments.includes(instrument._id) ? "selected" : "" %>> 
                      <%= g.name %>
                    </option>
                <% } %>
            </select>
        </div>


        <div>
            <button type="submit" class="btn btn-primary">
                <%= creatingNew.new ? 'Create' : 'Update' %> Instrument
            </button>
        </div>
    </form>

    <%- include("super-common-footer.ejs")%>