<%- include("super-common-header.ejs", {title:title }) %>

    <h1>Instruments:</h1>
    <p> </p>

    <form action="/instrument/searchByName" method="GET">
        <div>
            <label for="search">Search for an instrument by name</label>
            <input type="text" id="search" name="search" placeholder="Enter instrument name">
            <button type="submit">Search</button>
        </div>
    </form>
    
    <form action="/instrument/searchByFamily" method="GET">
        <div>
            <p>Or search for instruments by family:</p>
            <input type="radio" id="string" name="family" value="string">
            <label for="string">String</label><br>
            <input type="radio" id="woodwind" name="family" value="woodwind">
            <label for="woodwind">Woodwind</label><br>
            <input type="radio" id="brass" name="family" value="brass">
            <label for="brass">Brass</label><br>
            <input type="radio" id="percussion" name="family" value="percussion">
            <label for="percussion">Percussion</label><br>
            <input type="radio" id="keyboard" name="family" value="keyboard">
            <label for="keyboard">Keyboard</label><br>
            <button type="submit">Search</button>
        </div>
    </form>



    <p></p>

    <% for (let i=0; i < instruments.length; i++) { %>
        <h2><%- instruments[i].name %></h2>
        <a href="<%= instruments[i].url %>">Click here to view <%= instruments[i].name %></a>
        <% } %>

            <p></p>
            <a href="/instrument/create" class="btn btn-primary">Create a new instrument</a>

            <%- include("super-common-footer.ejs")%>
                </body>

                </html>