<%- include("super-common-header.ejs", {title: instrument.name }) %>

<h1><%= instrument.name %></h1>

<form action="<%= instrument._id ? '/instrument/update/' + instrument._id : '/instrument/create' %>" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= instrument.name %>" required>
    </div>
    <div>
        <label for="history">History:</label>
        <textarea id="history" name="history"><%= instrument.history %></textarea>
    </div>
    <div>
        <label for="family">Family:</label>
        <input type="text" id="family" name="family" value="<%= instrument.family %>">
    </div>
    <div>
        <label for="imageUri">Image URL:</label>
        <input type="text" id="imageUri" name="imageUri" value="<%= instrument.imageUri %>">
    </div>
    <div>
        <label for="soundClipUri">Sound Clip URL:</label>
        <input type="text" id="soundClipUri" name="soundClipUri" value="<%= instrument.soundClipUri %>">
    </div>
    <div>
        <button type="submit"><%= creatingNew.new ? 'Create' : 'Update' %> Instrument</button>
    </div>
</form>