<%- include("super-common-header.ejs", {title:title }) %>

    <h1>Instruments:</h1>
    <p> </p>


    <% for (let i=0; i < instruments.length; i++) { %>
        <h2><%- instruments[i].name %></h2>
        <a href="<%= instruments[i].url %>">Click here to view <%= instruments[i].name %></a>
        <% } %>

            <p></p>
            <a href="/instrument/create" class="btn btn-primary">Create a new instrument</a>

            <%- include("super-common-footer.ejs")%>