<%- include("super-common-header.ejs", {title:title }) %>

<h1>Musicians:</h1>

<% for (let i = 0; i < musicians.length; i++) { %>
    <div>
        <h2><%- musicians[i].name %></h2>
        <a href="<%= musicians[i].url %>">Click here for <%= musicians[i].name %></a>
    </div>
<% } %>

<a href="/musician/create" class="btn btn-primary mt-3">Create A New Musician</a>

<%- include("super-common-footer.ejs") %>