<%- include("super-common-header.ejs", {title:genre.name}) %>


<h1><%- genre.name %></h1>

<% if (genre.description) { %>
    <p><b>Description : </b><%- genre.description %></p>
<% } %>

<% if (genre.history) { %>
    <p><b>History : </b><%- genre.history %></p>
<% } %>

<% if (genre.imageUri) { %>
    <img src="<%= genre.imageUri %>" alt="<%= genre.name %>">
<% } %>

<p>Instruments:
    <ul>
      <% for (let i of instruments) { %>
        <li><a href="<%= i.url %>"><%= i.name %></a></li>
    <% } %>
</ul>
</p>

<p>Songs:
    <ul>
      <% for (let s of songs) { %>
        <li><a href="<%= s.url %>"><%= s.name %></a></li>
    <% } %>
</ul>
</p>

<a href="/genre/update/<%= genre._id %>" class="btn btn-primary">Update this genre</a>

<form action="/genre/delete/<%= genre._id %>" method="POST" style="display:inline;">
    <button type="submit" class="btn btn-danger">Delete this genre</button>
</form>