<%- include("super-common-header.ejs", {title:musician.name}) %>

<p></p>

<a href="/musician" class="btn btn-primary">Back to Musicians</a>

<p></p>

<h1><%- musician.name %></h1>

<% if (musician.imageUri) { %>
    <img src="<%= musician.imageUri %>" alt="<%= musician.name %>">
<% } %>

<% if (musician.anecdote) { %>
    <p><b>Anecdote : </b><%- musician.anecdote %></p>
<% } %>

<% if (musician.process) { %>
    <p><b>Process : </b><%- musician.process %></p>
<% } %>

<p>Songs:
<ul>
    <% for (let s of songs) { %>
        <li><a href="<%= s.url %>"><%= s.name %></a></li>
    <% } %>
</ul>
</p>

<p></p>

<a href="/musician/update/<%= musician._id %>" class="btn btn-primary">Update this musician</a>

<form action="/musician/verifyDelete/<%= musician._id %>" method="GET" style="display:inline;">
    <button type="submit" class="btn btn-danger">Delete this musician</button>
</form>