<%- include("super-common-header.ejs", {title:song.name}) %>

    <style>
        .content-container {
            max-width: 50%;
        }

        .embed-responsive {
            position: relative;
            display: block;
            width: 100%;
            padding: 0;
            overflow: hidden;
            padding-top: 56.25%;
        }

        .embed-responsive .embed-responsive-item {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            border: 0;
        }
    </style>

    <p></p>

    <a href="/song" class="btn btn-primary">Back to Songs</a>

    <p></p>

    <h1><%- song.name %></h1>


    <% if (song.soundClipUri) { %>
        <audio controls>
            <source src="<%= song.soundClipUri %>" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <% } %>


            <div class="mt-3 mb-3 content-container">
                <% if (song.videoUri && song.videoUri.trim().length> 0) { %>
                    <div class="embed-responsive embed-responsive-16by9 mt-2">
                        <iframe class="embed-responsive-item" src="<%= song.videoUri.replace('watch?v=', 'embed/') %>"
                            allowfullscreen></iframe>
                    </div>
                    <% } else { %>
                        <p>No video available.</p>
                        <% } %>
            </div>


            <% if(song.genre) { %>
                <p>Genre: <a href="<%= song.genre.url %>">
                        <%= song.genre.name %>
                    </a></p>
                <% } %>

                    <% if(song.musician) { %>
                        <p>Musician: <a href="<%= song.musician.url %>">
                                <%= song.musician.name %>
                            </a></p>
                        <% } %>

                            <% if(song.instruments) { %>
                                <p>Instruments:
                                <ul>
                                    <% for (let i of song.instruments) { %>
                                        <li><a href="<%= i.url %>">
                                                <%= i.name %>
                                            </a></li>
                                        <% } %>
                                </ul>
                                </p>
                                <% } %>


                                    <p></p>
                                    <a href="/song/update/<%= song._id %>" class="btn btn-primary">Update this Song</a>

                                    <form action="/song/verifyDelete/<%= song._id %>" method="GET"
                                        style="display:inline;">
                                        <button type="submit" class="btn btn-danger">Delete this song</button>
                                    </form>

                                    <%- include("super-common-footer.ejs")%>