<%- include("super-common-header.ejs", {title:title }) %>


<h1><%- song.name %></h1>
<div class="Song">
    <h1>Name: <%- song.name %></h1>
    <p>Sound Clip URI: <%- song.soundClipUri %></p>
    <p>Video URI: <%- song.videoUri %></p>
    <p>Musician: <%- musician.name %></p>
    <p>Genre: <%- genre.name %></p>
    <p>Instrument: <%- instrument.name %></p>
</div>

<audio controls>
    <source src="<%= song.soundClipUri %>" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<video width="640" height="360" controls>
    <source src="<%= song.videoUri %>" type="video/mp4">
    Your browser does not support the video tag.
</video>

<p></p>
<a href="/genre/update/<%= genre._id %>" class="btn btn-primary">Update this instrument (Broken right now)</a>