<%- include("super-common-header.ejs", {title:instrument.name}) %>

<p></p>
<a href="/genre" class="btn btn-primary">Back to Genres</a>
<p></p>

<h1><%- instrument.name %></h1>

<% if (instrument.imageUri) { %>
    <img src="<%= instrument.imageUri %>" alt="<%= instrument.name %>">
<% } %>

<% if (instrument.history) { %>
    <p><b>History: </b><%- instrument.history %></p>
<% } %>

<% if (instrument.family) { %>
    <p><b>Family : </b><%- instrument.family %></p>
<% } %>

<% if (instrument.soundClipUri) { %>
    <audio controls>
        <source src="<%= instrument.soundClipUri %>" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<% } %>

<!--Instrument needs to store an array of genres in database!!-->
<% if(instrument.genres) { %>
    <p><b>Genres: </b></p>
    <ul>
        <% for (let g of instrument.genres) { %>
          <li><a href="<%= g.url %>"><%= g.name %></a></li>
        <% } %>
    </ul>
<% } %>

<a href="/instrument/update/<%= instrument._id %>" class="btn btn-primary">Update this instrument</a>

<form action="/instrument/delete/<%= instrument._id %>" method="POST" style="display:inline;">
    <button type="submit" class="btn btn-danger">Delete this instrument</button>
</form>