<%- include("super-common-header.ejs", {title:title }) %>


<h1><%- song.name %></h1>
<a href="/genre/<%= genre._id %>" class="btn btn-primary"><%- genre.name %></a>
<a href="/musician/<%= musician._id %>" class="btn btn-primary"><%- musician.name %></a>

<!-- todo: this needs attention -->
<!-- we have array of instrument in song.instruments -->
<!-- and this is not working -->
<!-- <ul>
    <% //for (let i = 0; i < instruments.length; i++) { %>
        <li>
            <a href="/instrument/<%= //song.instruments[i]._id %>" class="btn btn-primary">
                <%- //instruments[i].name %>
            </a>
        </li>
    <% //} %>
</ul> -->


<% if (song.soundClipUri) { %>
    <audio controls>
        <source src="<%= song.soundClipUri %>" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<% } %>

<% if (song.videoUri) { %>
    <video width="640" height="360" controls>
        <source src="<%= song.videoUri %>" type="video/mp4">
        Your browser does not support the video tag.
    </video>
<% } %>

<% if(genre) { %>
    <p>Genre: <a href="<%= genre.url %>"><%= genre.name %></a></p>
    <% } %>

<% if(musician) { %>
    <p>Musician: <a href="<%= musician.url %>"><%= musician.name %></a></p>
<% } %>

<% if(instruments) { %>
    <p>Instruments:
        <ul>
          <% for (let i of instruments) { %>
            <li><a href="<%= i.url %>"><%= i.name %></a></li>
          <% } %>
        </ul>
    </p>
<% } %>


<p></p>
<a href="/song/update/<%= song._id %>" class="btn btn-primary">Update this Song(Broken right now)</a>