<%- include("super-common-header.ejs", {title:title }) %>


<h1><%- musician.name %></h1>

<% if (musician.imageUri) { %>
    <img src="<%= musician.imageUri %>" alt="<%= musician.name %>">
<% } %>

<% if (musician.anecdote) { %>
    <p><b>Anecdote : </b><%- musician.andecdote %></p>
<% } %>

<% if (musician.process) { %>
    <p><b>Process : </b><%- musician.process %></p>
<% } %>

<p></p>
<a href="/genre/update/<%= genre._id %>" class="btn btn-primary">Update this instrument (Broken right now)</a>